body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1433px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2032_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:64px;
  background:inherit;
  background-color:rgba(122, 12, 110, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2032 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:1440px;
  height:64px;
}
#u2032_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2033 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2034 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2035_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.458823529411765);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2035 {
  border-width:0px;
  position:absolute;
  left:1158px;
  top:16px;
  width:32px;
  height:32px;
  font-size:18px;
  color:#FFFFFF;
}
#u2035_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2036_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u2036 {
  border-width:0px;
  position:absolute;
  left:1198px;
  top:0px;
  width:51px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u2036_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:47px;
  word-wrap:break-word;
}
#u2037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2037 {
  border-width:0px;
  position:absolute;
  left:1081px;
  top:24px;
  width:16px;
  height:16px;
}
#u2037_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
}
#u2038 {
  border-width:0px;
  position:absolute;
  left:1121px;
  top:24px;
  width:13px;
  height:16px;
}
#u2038_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2039 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2040_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:64px;
  background:inherit;
  background-color:rgba(122, 12, 110, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u2040 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:0px;
  width:117px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u2040_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:64px;
  background:inherit;
  background-color:rgba(102, 10, 92, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u2040.mouseOver {
}
#u2040_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:64px;
  background:inherit;
  background-color:rgba(74, 6, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u2040.mouseDown {
}
#u2040_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:64px;
  background:inherit;
  background-color:rgba(89, 8, 81, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u2040.selected {
}
#u2040_text {
  border-width:0px;
  position:absolute;
  left:28px;
  top:21px;
  width:61px;
  word-wrap:break-word;
}
#u2041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:64px;
  background:inherit;
  background-color:rgba(122, 12, 110, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u2041 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:0px;
  width:117px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u2041_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:64px;
  background:inherit;
  background-color:rgba(102, 10, 92, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u2041.mouseOver {
}
#u2041_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:64px;
  background:inherit;
  background-color:rgba(74, 6, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u2041.mouseDown {
}
#u2041_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:64px;
  background:inherit;
  background-color:rgba(89, 8, 81, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u2041.selected {
}
#u2041_text {
  border-width:0px;
  position:absolute;
  left:28px;
  top:21px;
  width:61px;
  word-wrap:break-word;
}
#u2042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:64px;
  background:inherit;
  background-color:rgba(122, 12, 110, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u2042 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:0px;
  width:117px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u2042_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:64px;
  background:inherit;
  background-color:rgba(102, 10, 92, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u2042.mouseOver {
}
#u2042_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:64px;
  background:inherit;
  background-color:rgba(74, 6, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u2042.mouseDown {
}
#u2042_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:64px;
  background:inherit;
  background-color:rgba(89, 8, 81, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u2042.selected {
}
#u2042_text {
  border-width:0px;
  position:absolute;
  left:28px;
  top:21px;
  width:61px;
  word-wrap:break-word;
}
#u2043_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:64px;
  background:inherit;
  background-color:rgba(122, 12, 110, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u2043 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:0px;
  width:117px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u2043_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:64px;
  background:inherit;
  background-color:rgba(102, 10, 92, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u2043.mouseOver {
}
#u2043_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:64px;
  background:inherit;
  background-color:rgba(74, 6, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u2043.mouseDown {
}
#u2043_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:64px;
  background:inherit;
  background-color:rgba(89, 8, 81, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u2043.selected {
}
#u2043_text {
  border-width:0px;
  position:absolute;
  left:28px;
  top:21px;
  width:61px;
  word-wrap:break-word;
}
#u2044_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:64px;
  background:inherit;
  background-color:rgba(122, 12, 110, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u2044 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:0px;
  width:117px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u2044_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:64px;
  background:inherit;
  background-color:rgba(102, 10, 92, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u2044.mouseOver {
}
#u2044_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:64px;
  background:inherit;
  background-color:rgba(74, 6, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u2044.mouseDown {
}
#u2044_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:64px;
  background:inherit;
  background-color:rgba(89, 8, 81, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u2044.selected {
}
#u2044_text {
  border-width:0px;
  position:absolute;
  left:28px;
  top:21px;
  width:61px;
  word-wrap:break-word;
}
#u2045_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1445px;
  height:751px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2045 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:64px;
  width:1445px;
  height:751px;
}
#u2045_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
